/* Ce bout de code accompagne le code javascript pour le défilement automatique des images */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.defile {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
}


/* Ce bout de code accompagne qui accompagne le code javascript pour le défilement automatique des images prends fin ici */

.hero {
    /*
    left: 5%;
    font-size: 30px;
    font-weight: bold;
    background-color: #4CAF50; */
    color: black;
    text-align: center;
    padding: 60px 20px;
}

.noir {
    box-shadow: 5px 5px 3px black;
}

.btn {
    background-color: #e0f2e9;
    color: #4CAF50;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}

.btn-secondary {
    background-color: #888;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto;
    padding: 20px;
}

.feature {
    max-width: 250px;
    text-align: center;
    margin-bottom: 30px;
}

.a {
    text-align: center;
    margin-top: 40px;
}


/* footer {
     background-color: #f2f2f2; 
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #555;
} */


/* Fenêtre masquée par défaut */

.modal {
    display: flex;
    /*none position fixed*/
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Contenu de la fenêtre */

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    /*position: relative;*/
}


/* Bouton de fermeture */

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

h3 {
    color: #4CAF50;
}

@media (max-width: 420px) {
    .a {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}